/* Resets & Override */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 18px;
    line-height: 1.25;
    font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input[type=text]:focus,
input[type=select]:focus,
input[type=checkbox]:focus,
input[type=submit]:focus {
    outline: none;
}

input[type=text]:focus {
    border: 1px solid #699fc4;
}

input[type=submit] {
    border: 2px solid #fff;
}

input[type=submit]:focus {
    border: 2px solid #699fc4;
}

/* Range Input Styles */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6px 0;
    background: transparent;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none;
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Range Thumb Webkit */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #d5d5d5;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-thumb {
    border: 1px solid #699fc4;
}
  
/* Range Thumb Firefox */
input[type=range]::-moz-range-thumb {
    border: 1px solid #d5d5d5;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-moz-range-thumb {
    border: 1px solid #699fc4;
}

/* Range Thumb IE */
input[type=range]::-ms-thumb {
    border: 1px solid #d5d5d5;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-thumb {
    border: 1px solid #699fc4;
}

/* Range Track Webkit */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d5d5d5;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #699fc4;
}

/* Range Track Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d5d5d5;
}
input[type=range]:focus::-moz-range-track {
    background: #699fc4;
}

/* Range Track IE */
input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #d5d5d5;
}
input[type=range]:focus::-ms-fill-lower {
    background: #699fc4;
}
input[type=range]::-ms-fill-upper {
    background: #d5d5d5;
}
input[type=range]:focus::-ms-fill-upper {
    background: #699fc4;
}

/* Global Styles */
.cta {
    padding: 12px 18px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.cta--blue {
    color: #fff;
    background-color: #22313f;
}

.cta--blue:hover {
    color: #fff;
    background-color: #18222c;
}

/* Search Form */
.search-form {
    width: 450px;
    max-width: 100%;
    margin: 18px auto;
    padding: 18px;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.search-form__row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.search-form__row:last-child {
    margin-bottom: 0;
}

.search-form__row span.error {
    position: absolute;
    top: 0;
    right: 0;
    color: #e20101;
    font-size: 12px;
}

.search-form__col-50 {
    width: 50%;
}

.search-form__col-50:first-of-type {
    padding-right: 12px;
}

.search-form__col-50:last-of-type {
    padding-left: 12px;
}

.search-form__label,
.search-form__input {
    display: block;
    width: 100%;
}

.search-form__label{
    margin-bottom: 6px;
}

.search-form__input--general {
    padding: 6px;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
}

.search-form__input--checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
}

.search-form__label--checkbox {
    display: inline-block;
    width: auto;
    margin-top: 6px;
}

.search-form__label--checkbox .box {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 3px -3px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    cursor: pointer;
    transition: all.3s ease;
}

.search-form__label--checkbox .box:focus {
    outline: none;
}

.search-form__label--checkbox:hover .box {
    border: 1px solid #d5d5d5;
}
  
.search-form__input--checkbox:checked + .box {
    border: 1px solid #d5d5d5;
    background: #699fc4;
}

.search-form__input--checkbox:focus + .box {
    border: 1px solid #699fc4;
}

.search-form__input--checkbox:checked + .box::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: #fff;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
}
.search-form__input--checkbox:active + .box {
    box-shadow: 0 0 4px #699fc4;
}

.search-form__submit {
    width: 100%;
}

/* Search Results */
.search-form__table {
    border-collapse: collapse;
    background-color: #fff;
}

.search-form__table thead tr {
    color: #fff;
    background-color: #699fc4;
}

.search-form__table tbody tr:nth-child(even){
    background-color: #fff;
}

.search-form__table tbody tr:nth-child(even):last-child{
    border-bottom: 1px solid rgba(213, 213, 213, 0.5);
}

.search-form__table tbody tr:nth-child(odd){
    background-color: rgba(213, 213, 213, 0.5);
}

.search-form__table tbody tr:nth-child(even) td {
    border-right: 1px solid rgba(213, 213, 213, 0.5);
}

.search-form__table tbody tr:nth-child(odd) td {
    border-right: 1px solid #fff;
}

.search-form__table tbody td:nth-child(3),
.search-form__table tbody td:nth-child(4),
.search-form__table tbody td:nth-child(5),
.search-form__table tbody td:nth-child(6) {
    text-align: center;
}

.search-form__table tbody td:last-child {
    border-right: none
}

.search-form__table th {
    text-transform: capitalize;
}

.search-form__table th,
.search-form__table td {
    padding: 12px;
}

.icon--check,
.icon--cross {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

.icon--check:before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 12px;
    height: 24px;
    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #01ab01;
    border-radius: 3px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon--cross:before,
.icon--cross:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: #e20101;
    border-radius: 1px;
}

.icon--cross:before {
    transform: translateX(-50%) rotate(45deg);
}

.icon--cross:after {
    transform: translateX(-50%) rotate(-45deg);
}

/* Select2 Overrides */
.select2-container--default .select2-selection--single {
    height: auto;
    padding: 3px;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
    border: 1px solid #699fc4;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(100% - 2px);
}

/* jQuery UI Datepicker */
.ui-datepicker {
    position: absolute;
    left: -999999px;
    width: calc(450px - 38px);
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #699fc4;
    border-top: none;
    border-radius: 0 0 6px 6px;
    transform: translateY(-4px);
}

.ui-datepicker-header {
    position: relative;
    margin-bottom: 12px;
    padding: 6px 42px;
    text-align: center;
    background-color: #699fc4;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-title {
    display: inline-block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    color: transparent;
    font-size: 0;
}

.ui-datepicker-prev span:before,
.ui-datepicker-next span:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 12px;
    height: 12px;
    border-width: 3px 3px 0 0;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    transition: all 0.3s ease;
}

.ui-datepicker-prev span:before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

.ui-datepicker-next span:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.ui-datepicker-prev:hover span:before {
    left: 30%;
}
.ui-datepicker-next:hover span:before {
    left: 50%;
}

.ui-datepicker-prev {
    left: 18px;
}

.ui-datepicker-next {
    right: 18px;
}

.ui-datepicker-title {
    color: #fff;
}

.ui-datepicker-calendar {
    width: calc(100% - 24px);
    margin: 0 12px 12px 12px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    width: 14.285%;
    text-align: center;
}

.ui-datepicker-calendar th {
    padding: 6px 0;
    color: #fff;
    border: 1px solid #699fc4;
    background-color: #699fc4;
}

.ui-datepicker-calendar td a {
    display: block;
    padding: 6px 0;
    color: inherit;
    text-decoration: none;
}

.ui-datepicker-calendar td a:hover {
    background-color: rgba(213, 213, 213, 0.5);
}